
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:wght@400;500;600;700&display=swap');

/*.............. sheared style.......... */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
p{
    color:#727272;
font-size: 1rem;
font-weight: 400;
line-height: 1.5rem;
}
.primary-button{
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    
}

/* ........header section style here.......... */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav> h3{
    font-size: 2.8rem;
    font-weight: 700;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color:#424242;
}
.banner-container{
    display: flex;
    gap: 92px;
    flex-direction: column;
    align-items: center;
}
.banner-container img{
    width: 100%;
}
.banner-info{
    text-align: center;
    width: 50%;
}
.banner-info h2{
    color:#131313;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

/*............ main section style here........... */
/* ..........team section style here......... */

.team-container{
    padding: 50px 300px;
    display: flex;
    align-items: center;
    gap: 76px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
    padding-right: 100px;
}
.title-quick{
    color:#727272;
    font-size: 45px;
    font-weight: 500;
}
.title-team{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/*........... features section style.......... */
.features-container{
    padding: 50px 240px;
    display: flex;
    gap: 140px;
}
.features-container img{
    border-radius: 8px;
}
.Features-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.features-task{
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin: 20px 0;
}
.features-task h5{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

/* ........facts-container style......... */
.facts-container{
    padding: 50px 240px;
}
.facts-container>h3{
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}
.facts-container>p{
    margin-bottom: 100px;
}
.rewards{
    display: flex;
    justify-content: space-between;
}
.reward{
    width: 240px;
    height: 240px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reward h3{
    margin: 0;
    font-size: 45px;
    font-weight: 600;
}
.reward p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

/* responsive media query for mobile */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        gap: 10px;
        padding-left:0 ;
    }
    nav> h3{
        font-size: 1.8rem;
    }
    .banner-container{
        gap: 20px;
    }
    .banner-info{
        width: 100%;
    }
    .banner-info h2{
        font-size: 2rem;
    }

    /* .team-container */
    .team-container{
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }
    .team-images{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .team-images img{
        width: 100%;
    }

    /*........... features section style.......... */
    .features-container{
        padding: 20px;
        flex-direction: column;
        gap: 10px;
    }
    .features-container img{
        width: 100%;
    }
}

/* responsive media query for tablet */
@media screen and (min-width:577px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .banner-info h2{
        font-size: 3rem;
    }
        /* .team-container */
        .team-container{
            flex-direction: column;
            padding: 50px;
            gap: 30px;
        }
        .team-images{
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        .team-images img{
            width: 100%;
        }

         /*........... features section style.......... */
        .features-container{
        padding: 50px;
        flex-direction: column;
        gap: 20px;
    }
        .features-container img{
        width: 100%;
    } 
    .features-tasks{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    } 
    .features-task{
        margin: 0;
    }
}